<a href="https://colab.research.google.com/github/VictoriaOAbel/Analyses/blob/main/Completed_Above_10M.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os

In [ ]:
data_folder='./content/Bauchi'

In [ ]:
df=[]

In [ ]:
for file in os.listdir(data_folder):
    if file.endswith('.xlsx'):
        print('Loading file {0}...'.format(file))
        df.append(pd.read_excel(os.path.join(data_folder,file)))

Loading file TPT 621.xlsx...
Loading file TPT 331.xlsx...
Loading file TPT 601.xlsx...
Loading file TPT 332.xlsx...
Loading file TPT 381.xlsx...
Loading file TPT 691.xlsx...
Loading file TPT 831.xlsx...
Loading file TPT 352.xlsx...
Loading file TPT 541.xlsx...
Loading file TPT 341.xlsx...
Loading file TPT 313.xlsx...
Loading file TPT 351.xlsx...

In [ ]:
df_master=pd.concat(df, axis=0)
df_master.to_excel('master file.xlsx', index=False)

In [ ]:
tpt=pd.read_excel('/content/master file.xlsx')

In [ ]:
tpt

,BRA_CODE,CUS_NUM,CUR_CODE,LED_CODE,SUB_ACCT_CODE,NAME,TRA_DATE,EXPL_CODE,TXN_TYPE,ORIGT_TRA_SEQ1,...,DR_CREDIT,TRA_AMT,DOC_NUM,ORIGT_BRA_CODE,REMARKS,CANCELLATION_STATUS,DR_CR,BRANCH_NAME,TELLER_ID,TELLER_NAME
0,621,901951,1,59,0,"ALHAJI, MOHAMMADU MAIKUDI",2022-10-07,641,FASTTRACK CASH WITHDRAWAL,27678,...,Debit,10000.0,0,621,PINPAD-88343890-621/8212 CASH WITHDRAWAL BY AL...,,DEBIT,GOMBE,9011,
1,621,919767,1,1,0,HOUSE ON THE ROCK GOMBE,2022-10-07,1,CASH DEPOSIT,40253,...,Credit,5310.0,509015160,621,GODWIN PEACE,,CREDIT,GOMBE,4564,GABRIEL BENJAMIN
2,211,837481,1,59,0,HUSSAINI MUSA MUSA,2022-10-07,641,FASTTRACK CASH WITHDRAWAL,24417,...,Debit,120000.0,0,621,PINPAD-88340398-621/8212 CASH WITHDRAWAL BY HU...,,DEBIT,GOMBE,9011,
3,621,922797,1,59,0,"MAGAJI, SALAMATU",2022-10-07,1,CASH DEPOSIT,33657,...,Credit,20000.0,507994877,621,HANNATY RAYMOND,,CREDIT,GOMBE,1126,LOVINAH JOSEPH
4,361,375475,1,1,1,BUYU FOUNDATION GOMBE BR A/C,2022-10-07,1,CASH DEPOSIT,27121,...,Credit,54800.0,507992875,621,GARBATI A IBRAHIM,,CREDIT,GOMBE,1126,LOVINAH JOSEPH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547218,351,330000,1,4000,0,CASH IN TRANSIT SOKOTO,2023-03-24,57,CASH SWAP,60977,...,Credit,40000000.0,0,351,CASH SWAP TO SOKOTO 2(352),,CREDIT,SOKOTO,4036,LAWRENCE OWOADE
547219,209,857580,1,59,0,ATTAHIRU NAZIRU MUHAMMAD,2023-03-24,2,CASH WITHDRAWAL,59669,...,Debit,20000.0,0,351,ATTAHIRU NAZIRU MUHAMMAD 11722748 REF:20908575...,,DEBIT,SOKOTO,4036,LAWRENCE OWOADE
547220,351,370469,1,59,0,BELLO NASIRU,2023-03-25,912,OTHER TRANSACTION,58881,...,Debit,50000.0,0,351,NASIRU BELLO-11365249,,DEBIT,SOKOTO,2343,AYE MURTALA
547221,351,368202,1,59,0,BELLO SAADATU,2023-03-24,2,CASH WITHDRAWAL,29831,...,Debit,16000.0,0,351,BELLO SAADATU-11812973,,DEBIT,SOKOTO,1710,IFEANYI FELIX
547222,351,353075,1,59,0,AHMED RABIATU,2023-03-24,2,CASH WITHDRAWAL,33239,...,Debit,3000.0,0,351,AHMAED RABIATU-11829203,,DEBIT,SOKOTO,1710,IFEANYI FELIX

In [ ]:
tpt['TXN_TYPE']

0         FASTTRACK CASH WITHDRAWAL
1                      CASH DEPOSIT
2         FASTTRACK CASH WITHDRAWAL
3                      CASH DEPOSIT
4                      CASH DEPOSIT
                    ...
547218                    CASH SWAP
547219              CASH WITHDRAWAL
547220            OTHER TRANSACTION
547221              CASH WITHDRAWAL
547222              CASH WITHDRAWAL
Name: TXN_TYPE, Length: 547223, dtype: object

In [ ]:
tpt['TXN_TYPE']=='CASH WITHDRAWAL'

0         False
1         False
2         False
3         False
4         False
          ...
547218    False
547219     True
547220    False
547221     True
547222     True
Name: TXN_TYPE, Length: 547223, dtype: bool

In [ ]:
tpt_cashwdl=tpt.loc[tpt['TXN_TYPE']=='CASH WITHDRAWAL',:]

In [ ]:
tpt_cashwdl

,BRA_CODE,CUS_NUM,CUR_CODE,LED_CODE,SUB_ACCT_CODE,NAME,TRA_DATE,EXPL_CODE,TXN_TYPE,ORIGT_TRA_SEQ1,...,DR_CREDIT,TRA_AMT,DOC_NUM,ORIGT_BRA_CODE,REMARKS,CANCELLATION_STATUS,DR_CR,BRANCH_NAME,TELLER_ID,TELLER_NAME
9,621,906742,1,59,0,MOHAMMED YAYAJI ALHAJI,2022-10-07,2,CASH WITHDRAWAL,41055,...,Debit,400000.0,0,621,YAYAJI A MOHAMMED-2157990,,DEBIT,GOMBE,4564,GABRIEL BENJAMIN
17,621,903527,1,1,0,"MOHAMMED, USMAN YAKUBU",2022-10-07,2,CASH WITHDRAWAL,48936,...,Debit,150000.0,31,621,USMAN MOHAMMED YAKUBU,,DEBIT,GOMBE,4564,GABRIEL BENJAMIN
30,361,997597,1,59,0,MOHAMMED SALLAU,2022-10-07,2,CASH WITHDRAWAL,43430,...,Debit,520000.0,0,621,MOHAMMED SALLAU(2556830,,DEBIT,GOMBE,5652,MOLLY MICAH
31,621,915656,1,1,0,YAHAYA UMAR,2022-10-07,2,CASH WITHDRAWAL,26544,...,Debit,10000.0,0,621,UMAR YAHAYA(WDL WITH SLIP=2556827),,DEBIT,GOMBE,8212,DIVINE EBHOHIMEN
39,621,900519,1,1,0,SAIDU UMAR,2022-10-07,2,CASH WITHDRAWAL,34732,...,Debit,60000.0,335,621,AMINU SAIDU,,DEBIT,GOMBE,8212,DIVINE EBHOHIMEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547215,325,547959,1,59,0,UMAR YAHAYA,2023-03-24,2,CASH WITHDRAWAL,28063,...,Debit,10000.0,0,351,UMAR YAHAYA 11544237,,DEBIT,SOKOTO,4036,LAWRENCE OWOADE
547216,274,306632,1,59,0,MUAZU BELLO,2023-03-24,2,CASH WITHDRAWAL,67149,...,Debit,20000.0,0,351,BELLO MUAZU -11477467,,DEBIT,SOKOTO,2488,BELLO SADIQ
547219,209,857580,1,59,0,ATTAHIRU NAZIRU MUHAMMAD,2023-03-24,2,CASH WITHDRAWAL,59669,...,Debit,20000.0,0,351,ATTAHIRU NAZIRU MUHAMMAD 11722748 REF:20908575...,,DEBIT,SOKOTO,4036,LAWRENCE OWOADE
547221,351,368202,1,59,0,BELLO SAADATU,2023-03-24,2,CASH WITHDRAWAL,29831,...,Debit,16000.0,0,351,BELLO SAADATU-11812973,,DEBIT,SOKOTO,1710,IFEANYI FELIX
547222,351,353075,1,59,0,AHMED RABIATU,2023-03-24,2,CASH WITHDRAWAL,33239,...,Debit,3000.0,0,351,AHMAED RABIATU-11829203,,DEBIT,SOKOTO,1710,IFEANYI FELIX

In [ ]:
sorted_cashwdl=tpt_cashwdl.sort_values('TRA_AMT',ascending=False)

In [ ]:
sorted_cashwdl

,BRA_CODE,CUS_NUM,CUR_CODE,LED_CODE,SUB_ACCT_CODE,NAME,TRA_DATE,EXPL_CODE,TXN_TYPE,ORIGT_TRA_SEQ1,...,DR_CREDIT,TRA_AMT,DOC_NUM,ORIGT_BRA_CODE,REMARKS,CANCELLATION_STATUS,DR_CR,BRANCH_NAME,TELLER_ID,TELLER_NAME
19307,621,900469,1,59,0,ABDULLAHI JAMILU,2022-12-06,2,CASH WITHDRAWAL,55770,...,Debit,19000000.0,0,621,ABDULLAHI JAMILU-6030605,,DEBIT,GOMBE,4564,GABRIEL BENJAMIN
388226,532,580224,1,59,0,"OPUWARI,DORIS OBUTO",2022-10-25,2,CASH WITHDRAWAL,27670,...,Debit,18000000.0,0,541,OPUWARI DORIS OBUTO 2353957,,DEBIT,YENAGOA,8917,OKECHUKWU UKAJI
37722,302,659365,1,59,0,IBRAHIM SADIYA BIU,2022-12-07,2,CASH WITHDRAWAL,46771,...,Debit,15000000.0,0,621,SADIYA IBRAHIM BIU-1983610,,DEBIT,GOMBE,4564,GABRIEL BENJAMIN
38456,332,505507,1,59,0,"MALGWI, SIMI JESSE",2022-12-07,2,CASH WITHDRAWAL,45190,...,Debit,15000000.0,0,621,SIMI JESSE MALGWI-6030610,,DEBIT,GOMBE,4564,GABRIEL BENJAMIN
100274,601,518145,1,59,0,"SAIDU, MURTALA",2022-10-11,2,CASH WITHDRAWAL,47263,...,Debit,13297500.0,0,601,MURTALA SAIDU -71755637,,DEBIT,BAUCHI,3789,KHADIJAH AFOLABI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35013,621,1000937,2,1,0,ALIYU ABUBAKAR ELNAFATY,2022-10-27,2,CASH WITHDRAWAL,48375,...,Debit,1.0,0,621,ALIYU ABUBAKAR E.(1285962) REF:621100093700000...,,DEBIT,GOMBE,8212,DIVINE EBHOHIMEN
434443,228,673580,2,1,0,FRIDAY GODWIN,2022-11-07,2,CASH WITHDRAWAL,49553,...,Debit,1.0,0,341,FRIDAY GODWIN REF:228067358000000000012211071255,,DEBIT,MAIDUGURI,8708,DANIEL DULLA
77809,332,897052,2,1,0,DARO AYUBA AUDU,2022-11-29,2,CASH WITHDRAWAL,64583,...,Debit,1.0,0,331,DARO AYUBA=1980676,,DEBIT,JOS I - JENGRE ROAD,4145,RASHIDAT IBRAHIM
168824,331,370626,2,1,0,SANI ALKASIM SAEED,2023-01-09,2,CASH WITHDRAWAL,83651,...,Debit,1.0,0,332,CASH WDL BY SANI ALKASIM SAEED 44339892 REF:33...,,DEBIT,JOS II-AMHADU BELLO WAY,8505,JOY ISEHUNWA
442505,228,672489,2,1,0,"MALA, USMAN",2023-01-24,2,CASH WITHDRAWAL,69874,...,Debit,1.0,0,341,MALA USMAN,,DEBIT,MAIDUGURI,8708,DANIEL DULLA

In [ ]:
sorted_cashwdl['TRA_AMT']>=10000001

19307      True
388226     True
37722      True
38456      True
100274     True
          ...
35013     False
434443    False
77809     False
168824    False
442505    False
Name: TRA_AMT, Length: 197530, dtype: bool

In [ ]:
aml_amt=sorted_cashwdl.loc[sorted_cashwdl['TRA_AMT']>=10000001,:]

In [ ]:
aml_amt

,BRA_CODE,CUS_NUM,CUR_CODE,LED_CODE,SUB_ACCT_CODE,NAME,TRA_DATE,EXPL_CODE,TXN_TYPE,ORIGT_TRA_SEQ1,...,DR_CREDIT,TRA_AMT,DOC_NUM,ORIGT_BRA_CODE,REMARKS,CANCELLATION_STATUS,DR_CR,BRANCH_NAME,TELLER_ID,TELLER_NAME
19307,621,900469,1,59,0,ABDULLAHI JAMILU,2022-12-06,2,CASH WITHDRAWAL,55770,...,Debit,19000000.0,0,621,ABDULLAHI JAMILU-6030605,,DEBIT,GOMBE,4564,GABRIEL BENJAMIN
388226,532,580224,1,59,0,"OPUWARI,DORIS OBUTO",2022-10-25,2,CASH WITHDRAWAL,27670,...,Debit,18000000.0,0,541,OPUWARI DORIS OBUTO 2353957,,DEBIT,YENAGOA,8917,OKECHUKWU UKAJI
37722,302,659365,1,59,0,IBRAHIM SADIYA BIU,2022-12-07,2,CASH WITHDRAWAL,46771,...,Debit,15000000.0,0,621,SADIYA IBRAHIM BIU-1983610,,DEBIT,GOMBE,4564,GABRIEL BENJAMIN
38456,332,505507,1,59,0,"MALGWI, SIMI JESSE",2022-12-07,2,CASH WITHDRAWAL,45190,...,Debit,15000000.0,0,621,SIMI JESSE MALGWI-6030610,,DEBIT,GOMBE,4564,GABRIEL BENJAMIN
100274,601,518145,1,59,0,"SAIDU, MURTALA",2022-10-11,2,CASH WITHDRAWAL,47263,...,Debit,13297500.0,0,601,MURTALA SAIDU -71755637,,DEBIT,BAUCHI,3789,KHADIJAH AFOLABI
32072,621,903485,1,59,0,"BAPPA, SALE",2022-11-23,2,CASH WITHDRAWAL,30023,...,Debit,12000000.0,0,621,BAPPA SALE-06147484,,DEBIT,GOMBE,4564,GABRIEL BENJAMIN
106581,601,581061,1,59,0,SANI HASSAN SALEH,2022-12-09,2,CASH WITHDRAWAL,55625,...,Debit,10200000.0,0,601,HASSAN SANI-1146639,,DEBIT,BAUCHI,8504,EMMANUEL ADIMANNA
38215,811,359530,1,59,0,"OSHE, MORENIBARIN OLUBUNMI",2022-12-09,2,CASH WITHDRAWAL,39407,...,Debit,10040000.0,0,621,OLUBUNMI MORENIBARIH2555863,,DEBIT,GOMBE,1296,HANNATU AUGUSTINE

In [ ]:
df_2=pd.DataFrame(aml_amt)

In [ ]:
writer=pd.ExcelWriter('/content/Above 10M.xlsx')
df_2.to_excel(writer,sheet_name='df_2',index=False)
writer.save()

<ipython-input-40-b1a6634659f5>:3: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [ ]:
#df_2=pd.concat(aml_amt, axis=0)
#df_2.to_excel('Above 10M.xlsx', index=False)